@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

.container {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: space-between;
  z-index: 1;
}

.container .title {
  color: rgba(252, 226, 27);
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  margin-left: 30px;
}

.links {
  display: flex;
  align-items: center;
}

.subtitle {
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-style: italic;
  margin-right: 50px;
}

.subtitle:hover {
  color: rgba(74,	68,	242, 0.8);
}
