.container {
  width: 100%;
  background-color: #e0e0e0;
  padding-bottom: 30px;
  padding-top: 60px;
}

.title {
  color: #ad1010;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.formContainer {
  display: flex;
  justify-content: center;
}

.form {
  width: 60%;
  border-radius: 40px;
  overflow: hidden;
  padding: 36px;
  box-sizing: border-box;
  box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
}

.formTitle {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  color: #69675e;
  display: block;
  margin-bottom: 24px;
}

.inputWrapper {
  position: relative;
  border: none;
  border-radius: 40px;
  overflow: hidden;
  padding: 16px 24px;
  display: flex;
  box-sizing: border-box;
  margin-bottom: 24px;
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(236, 235, 235, 0.5);
}

.inputWrapper > input {
  background: none;
  border: none;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  width: 100%;
}

.inputWrapper > svg {
  margin-right: 16px;
}

.inputWrapper > input:focus {
  outline: none;
}

.inputWrapper > input::placeholder {
  color: rgba(105,103,94, 0.5);
}

.submissionContainer {
  display: flex;
  justify-content: center;
}

.submitButtonContainer {
  width: 50%
}

.submissionError {
  font-family: 'Playfair Display', serif;
  color: #ad1010;
  display: flex;
  justify-content: center
}

.submitted {
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 16px;
  border-radius: 40px;
  background: #69675e;
  box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
  -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
}

.submitted > span {
  font-size: 24px;
  font-family: 'Playfair Display', serif;
  color: #e0e0e0;
  user-select: none;
}

.submit {
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 16px;
  border-radius: 40px;
  background: #ad1010;
  box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
  -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
}

.submit:active {
  box-shadow: inset 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
  inset -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
}


.submit > span {
  font-size: 24px;
  font-family: 'Playfair Display', serif;
  color: #e0e0e0;
  user-select: none;
}

.emailError {
  color: #ad1010;
  background: #e0e0e0;
  font-family: 'Playfair Display', serif;
  width: 50%;
  position: absolute;
  left: 65%;
  top: 33%;
  width: fit-content;
}

@media only screen and (max-width: 600px) {

  .title {
    font-size: 40px;
    margin-bottom: 25px;
  }

  .form {
    width: 90%;
  }

  .formTitle {
    text-align: center;
    font-size: 20px;
    margin-bottom: 24px;
  }


}

