.container {
  width: 100%;
  background-color: #e0e0e0;
  padding-bottom: 30px; 
}

.title {
  color: #ad1010;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.formContainer {
  display: flex;
  justify-content: center;
}

.form {
  width: 60%;
  border-radius: 40px;
  overflow: hidden;
  padding: 36px;
  box-sizing: border-box;
  box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
}

.formTitle {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  color: #69675e;
  display: block;
  margin-bottom: 24px;
}

.inputWrapper {
  border: none;
  border-radius: 40px;
  overflow: hidden;
  padding: 16px 24px;
  display: flex;
  box-sizing: border-box;
  margin-bottom: 24px;
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}

.inputWrapper > input {
  background: none;
  border: none;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  width: 100%;
}

.inputWrapper > svg {
  margin-right: 16px;
}

.inputWrapper > input:focus {
  outline: none;
}

.inputWrapper > input::placeholder {
  color: rgba(105,103,94, 0.5);
}

.submitContainer {
  display: flex;
  justify-content: center;
}

.submit {
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 16px;
  border-radius: 40px;
  background: #ad1010;
  box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
  -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
}

.submit:active {
  box-shadow: inset 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
  inset -12px -12px 24px 0 rgba(255, 255, 255, 0.5);

}

.submit > span {
  font-size: 24px;
  color: #e0e0e0;
  user-select: none;
}


