@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

.container {
  display: flex;
  justify-content: center
}

.descriptionContainer {
  width: 25%;
}

.title {
  color: rgba(252, 226, 27);
  font-family: 'Playfair Display', serif;
  font-size: 20px;
}

.description {
  color: red
}

.timeline {
  position: relative;
  width: 24px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 40px;
}

.line {
  width: 8px;
  background: white;
  display: flex;
  height: 800px;
  justify-content: center;
}

.node {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background: white;
  position: absolute;
  cursor: pointer;

}

.media {
  width: 25%;
}
