.mainContainer {
  width: 100%;
  background-color: #69675e;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px 0px;
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  color: #f0ead6;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact {
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  color: black;
}

.github {
  margin: 5px;
  margin-bottom: -10px;
}

.github:hover {
  fill: rgba(252, 226, 27);
}

.linkedIn {
  margin-bottom: -12px;
}

.linkedIn:hover {
  fill: rgba(252, 226, 27);
}

.heart {
  fill: #ad1010;
  margin: -3px 5px;
}

.heart:hover {
  fill: black;
}

.text {
  margin: 3px 0px;
  font-family: 'Playfair Display', serif;
  color: #f0ead6;
  font-size: 15px;
}

@media only screen and (max-device-width: 600px) {
  .message {
    max-width: 50%;
  }

  .info {
    margin-left: -30px;
  }
}