.about {
  color: white;
}

.about .bg {
  height: 100vh!important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.about .text {
  color: white;
  font-size: 20px;
}

.page {
  background: black;
  margin: 0;
  scrollbar-color: black black;
}
.page::-webkit-scrollbar {
  background-color: black;

}
.page::-webkit-scrollbar-thumb {
  background: black; 
}

.text {
  color: black;
  font-size: 100px;
}